html {
    height: 100vh;
    overflow: hidden;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #222823;
}

#game {
    padding: 5vmin;
    background-color: #575A5E;
    font-size: 3vmin;
    border-radius: 10px;
}

#game div {
    padding: 1em;

}

#game input {
    font-size: 3vmin;
    margin: 1vmin;
    padding: 2vmin;
    border: none;
    border-radius: 10%;
}

#secretWord {
    font-size: 5vw;
    letter-spacing: 0.5em;
}

#outcome {
    position: absolute;
    padding: 3em;
    display: none;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    letter-spacing: 0;
    border-radius: 3em;
    font-size: 3vmin;
}

#outcome input {
    margin-top: 3em;
    font-size: 3vmin;
}

@media (max-width: 425px) {
    body {
        overflow: hidden;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #game {
        height: 80vh;
    }

    #game input {
        font-size: 3vmax;
    }

    #secretWord,
    #guessCount {
        font-size: 3vmax;
    }

    #playerArea {
        height: 90%;
    }

    #letters {
        height: 60%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1em;
    }
}